@model Infrastructure.Entities.Customer
@{
    ViewData["Title"] = "ListMail";
}

<h1>ListMail</h1>
<p>
    <a asp-action="CreateMail" asp-route-id="@Model.Id">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateMail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteMail", new { id = item.Id,customerId=item.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>
